.header img{
    height: 80px;
    padding: 50px 0px;
}
.header nav{
    background: black;
    text-align: left;
    padding: 20px 20px;
    height: 80px;
}
.header nav a{
    color: white;
    margin:10px;
    text-decoration: none;
    font-size: 20px;
}
.header nav input{
    width: 70%;
    top: 20px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 8px;
    margin-left: 2rem;
}
.searchBtn{
    padding: 5px 15px;
    background: orange;
    border-radius: 8px;
    color: white;
    margin-left: 20px;
    font-size:15px;
}